@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@400;500;600;700&display=swap");

body {
  background-image: linear-gradient(to top right, #222121, #f14848);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.App {
 height: 100%;
  font-family: "Montserrat", sans-serif; 
}

